
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yonder</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="css/bootstrap-1.4.0-min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Yonder</a>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Leaflet Map -->
      <div id="map" class="span16"></div>

      <!-- Geocode form section -->
      <div class="well">
        <input id="geocode-address" class="span7" name="" type="text" placeholder="">
        <button id="geocode-submit" class="btn primary">Geocode</button>
      </div>

      <!-- Example row of columns -->
      <div id="geocoder-results" class="row"></div>

      <footer>
        <p><a href="http://twitter.com/atogle">Aaron Ogle</a> & <a href="http://twitter.com/yuletide">Friends</a>, 2014</p>
      </footer>

    </div> <!-- /container -->

  </body>

  <script type="text/template" id="geocoder-list-template">
    <div id="<%= type %>" class="span5">
      <div class="marker-legend" style="border-color:<%= color %>; background-color:<%= color %>"></div><h2><%= name %></h2>
      <dl class="geocoder-result">

      </dl>
    </div>
  </script>

  <script type="text/template" id="geocoder-result-template">
    <dt><%= name %><dd><pre><%= val %></pre>
  </script>


  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="js/lib/jquery-1.7.1-min.js"></script>
  <script src="js/lib/underscore-1.2.3-min.js"></script>
  <script src="js/lib/backbone-0.5.3-min.js"></script>

  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <script src="js/config.js"></script>
  <script src="js/models.js"></script>
  <script src="js/views.js"></script>
  <script src="js/yonder.js"></script>

</html>
